<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs')%>

<body>

<p>Nombre del usuario es: <%=usuario.nombre %></p>

<p>Email es: <%=usuario.email %></p>

<p>Contraseña: <%=usuario.contraseña %></p>

<p>Mi avatar es: <%=usuario.avatar %></p>

</body>
</html>